{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Offers list</h1>
            </div>

            <div id="status">

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td><a href="{{ path('offer_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                                <td>{{ offer.title }}</td>
                                <td>{{ offer.description }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul>
                <li>
                    <a href="{{ path('offer_new') }}">Create a new offer</a>
                </li>
                <li>
                    <a href="{{ path('area_export', { '_format': "xml" }) }}"> export xml</a>
                </li>
                <li>
                    <a href="{{ path('area_export', { '_format': "csv" }) }}"> export csv</a>
                </li>
                <li>
                    <a href="{{ path('area_export', { '_format': "xls" }) }}"> export xls</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
